* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    padding: 3px 5px;
    margin: 3px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
}

.container {
    width: calc((100vh - 33px));
    height: calc((100vh - 33px));
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    background-color: red;
}

.item {
    flex: auto;
    /* width: calc((100%/ 16) - (15px/16)); */
    /* height: clac(6.25% - (15px/16)); */
    background-color: yellow;
}

.color {
    background-color: blue;
}

/* 
.item:hover {
    background-color: black;
} */